.btn {
  padding: {
    top: 10px;
    bottom: 10px;
    left: 20px;
    right: 20px;
  }
  background-color: blue;
  color: white;
  border: none;

  &:hover {
    background-color: lightblue;
    color: black;
  }

}
