.many-input-fields {

  p {
    margin: 0;
  }

  .input-field {
    margin: {
      top: 0;
      bottom: 8px;
    };
  }

  .remove-img {
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

}