.text-input {
  position: relative;
  text-align: start;

  p {
    margin: 0;
  }

  p.error {
    margin: 0!important;
    color: red;
  }

  p.counter {
    margin: 0!important;
    float: right;
  }
}