.main-page {
  position: relative;
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  opacity: 0;

  p, h3 {
    padding: 0;
    margin: 0;
  }

  .header {
    border-bottom: 2px solid lightblue;
    width: 100%;
  }

  .ava-img-wrap {
    height: 100px;
    width: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../../images/ava.jpg");
    background-size: 100px auto;
    border-radius: 100%;
    margin: {
      right: 20px;
      bottom: 20px;
    }
  }

  .social-link {
    padding: {
      right: 10px;
    };
  }

  .input-field {
    margin-top: 20px;
  }

  #start-btn-wrap {
    margin-top: 40px;
  }


}
